<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<head >
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/all.js}"></script>
    <title>Home City</title>
</head>
<body>
<footer th:replace="/layout :: create"></footer>
<h1>Home City</h1>
    <a th:href="@{/city/create}">Add new City </a>
    <table border="1" >
    <tr>
        <th>#</th>
        <th>Tên thành phố</th>
        <th>Quốc gia</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="row : ${list}">
        <td th:text="${row.id}"></td>
        <td><a th:href="@{/city/view/{id}(id=${row.getId()})}" th:text="${row.name}"></a></td>
        <td th:text="${row.getCountry.name}"></td>
        <td><a th:href="@{/city/edit/{id}(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/city/delete/{id}(id=${row.getId()})}">delete</a></td>
    </tr>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>