<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/all.js}"></script>
    <title>Spring Customer</title>
    <meta charset="UTF-8">
    <title>City</title>
</head>
<body>
<footer th:replace="/layout :: create"></footer>
    <a  th:href="@{/city}">Trở lại trang chủ </a>
<table border="1">
    <tr>
        <td><label>Tên thành phố:</label></td>
        <td><span th:text="${city.get().name} "></span></td>
    </tr>
    <tr>
        <td><label>Quốc gia:</label></td>
        <td><label th:text="${city.get().country.name}"></label></td>
    </tr>
    <tr>
        <td><label>Diện tích:</label></td>
        <td><label th:text="${city.get().acreage} + 'Km2'"></label></td>
    </tr>
    <tr>
        <td><label>Dân số :</label></td>
        <td><label th:text="${city.get().population} + ': Ngìn người'"></label></td>
    </tr>
    <tr>
        <td><label>GDP:</label></td>
        <td><label th:text="${city.get().GDP} + '$'"></label></td>
    </tr>
    <tr>
        <td><label>Giới thiệu:</label></td>
        <td><label th:text="${city.get().introduce}"></label></td>
    </tr>
    <tr>
        <td><a th:href="@{/city/edit/{id}(id=${city.get().getId()})}">Sửa</a></td>
        <td><a th:href="@{/city/delete/{id}(id=${city.get().getId()})}">Xóa</a></td>
    </tr>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>